body{
    margin: 0;
    background-color:rgb(50, 50, 50);

    display: flex;
    justify-content: center;
}
.topBottomWrapper{
    position: fixed;
    width: 90%;

    font-weight: bold;    
    font-size:1vw;
    font-size: calc(min(2vh,2vw));
    padding:   0.5vw;    
    padding:  calc(min(0.5vh,0.5vw));
    background-color: darkgray;
}
.menuWrapper{
    top: 0%;
    display: flex;
    justify-content: space-between;
}
.licenceWrapper{
    bottom: 0%;
    color:orangered;
}
.licence{
    color:darkslategray;
}